body {
    margin: 20px 250px 25px 250px;
    background-color: #fafafa;
}

.main-title {
    font-family: "Archivo Black", sans-serif;
    font-size: 96px;
    font-style: italic;
    text-transform: uppercase;
    text-align: center;
    line-height: 90px;
    margin-bottom: 0;
}

.page-title {
    font-family: "Archivo Black", sans-serif;
    font-size: 48px;
    font-style: italic;
    text-transform: uppercase;
    text-align: center;
    line-height: 52px;
    margin-bottom: 0;
}

.fact {
    font-family: "Archivo Black", sans-serif;
    font-size: 22px;
    line-height: 22px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, .8);
    margin-top: 60px;
}

p, ul, li {
    /* font-family: "Roboto Mono", monospace; */
    /* font-size: 19px; */
    /* line-height: 27px; */
    font-family: Georgia, serif;
    /*font-size: 22px;
    line-height: 31px;*/
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: rgba(0, 0, 0, .75);
}

.main-links {
    font-family: "Archivo Black", sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
}

.source-link {
    text-decoration: none;
    color: rgba(0, 0, 0, .75);
    border-bottom: 3px solid rgba(153, 0, 18, 1);
}

.source-link:visited {
    color: rgba(0, 0, 0, .75);
    border-bottom: 3px solid rgba(153, 0, 18, .2);
}

.drop-cap {
    float: left;
    font-family: Georgia, serif;
    font-size: 75px;
    line-height: 60px;
    /* padding-top: 4px; */
    padding-right: 8px;
    padding-left: 3px;
    /* color: rgba(0,0,0,.6); */
}

.main-rule {
    height: 4px;
    background-color: #000;
    margin-bottom: 15px;
}

#main-links {
    /*width: 100%;*/
    text-align: center;
    color: rgba(153, 0, 18, 1);
}

#main-links li {
    display: inline;
    margin-right: 25px;
    font-size: 20px;
    font-family: "Archivo Black", sans-serif;
    text-transform: uppercase;
    font-style: italic;
    text-align: center;
}

#main-links a {
    color: rgba(153, 0, 18, 1);
}

.copy-container {
    margin-top: 40px;
}

#twitter-widget {
    width: 33%;
    float: right;
    padding: 0 0 0 15px;
}

#staff {
    width: 66%;
    float: right;
    padding: 10px 0 10px 20px;
}



/* Media queries */

@media screen and (max-width: 600px) {
    body {
        margin: 20px;
    }
    .main-title {
        font-size: 36px;
        line-height: 40px;
    }
    .main-rule {
        margin-bottom: 30px;
    }
    #main-links {
        margin-left: -30px;
    }
    #main-links li {
        display: list-item;
        list-style-type: none;
        line-height: 28px;
    }
    #twitter-widget {
        width: 100%;
        padding: 0 10px 25px 10px;
    }
    #staff {
        width: 100%;
        padding: 10px 0 25px 0;
    }
}